header {
  grid-area: sidebar;
  grid-template-areas:
  "logo"
  "navbar";
}

body {
  margin: 0px;
  display: grid;
  width: 100%;
  height: 95vh;
  grid-template-columns: 40px 1fr 5fr 40px;
  grid-template-rows: auto auto 80px;
  grid-gap: 10px;
  grid-template-areas:
    ". sidebar content ."
    ". sidebar content ."
    ". footer content ."
}

.logo-area {
  font-family: Nanum Myeongjo;
  font-size: 80px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  grid-area: logo;
  /* justify-self: center; */
  /* background: green; */
}

#nav-primary {
  grid-area: navbar;
  font-family: Open Sans;
  font-weight: 300;
}

#nav-primary .navigation-list {
  /* background: pink; */
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
}

.content {
  grid-area: content;
}

.home-image {
  background-image: url(../images/landing.jpg);
  width: 100%;
  height: 95vh;
  background-position: center;
  background-size: cover;
}

footer {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 300;
  grid-area: footer;
  justify-self: center;
  margin: auto;
  /* background: pink; */
}

footer .links-ext {
  /* background: turquoise; */
  text-align: center;
}