@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Open+Sans:wght@300;400&display=swap");

:root {
  --left-segment-width: 16vw;
  --middle-segment-width: 80vw;
  --right-segment-width: 4vw;
  --content-height: 95vh;
  --kinda-grey: #aba499;
  --near-black: #202324;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* SIDEBAR-START */

.navbar.flex {
  position: fixed;
  height: var(--content-height);
  width: var(--left-segment-width);
  flex-direction: column;
  justify-content: flex-start;
}

.logo-area {
  font-family: "Nanum Myeongjo", sans-serif;
  font-size: 80px;
  padding: 15px 0;
}

nav ul {
  padding-left: 1rem;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--kinda-grey);
}

a:hover {
  color: grey;
}

.footer-text {
  font-size: 12px;
  text-align: center;
  /* align the footer to the 
  bottom of the container */
  margin-top: auto;
}
/* SIDEBAR-END */

/* TITLE-STYLES-START */
.title-text.flex {
  justify-content: flex-start;
}

.content h1 {
  font-size: 35px;
}

.content h1,
.content h2 {
  margin: 15px 0px;
  font-family: Nanum Myeongjo;
}

.title-text .title-sml {
  font-size: 18px;
  margin-left: 20px;
}
/* TITLE-STYLES-END */

/* BODY-START */
body {
  width: 100%;
  display: grid;
  grid-template-columns: var(--left-segment-width) var(--middle-segment-width) var(
      --left-segment-width
    );
  gap: 0px 10px;
  grid-template-areas:
    ". content ."
    ". content ."
    ". . .";
  background-color: var(--near-black);
  color: var(--kinda-grey);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.content {
  grid-area: content;
  font-family: 'Open Sans';
  font-weight: 300;
}
/* BODY-END */

.home-image {
  width: 100%;
  height: var(--content-height);
  object-fit: cover;
}

/* UTLITIES */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}