<!DOCTYPE html>
<html>
  <head>
    {% if page.url == "/" %}
    <title>miguel pampolina</title>
    {% else %}
    <title>miguel pampolina - {{ page.title }}</title>
    {% endif %}

    <!-- link to main stylesheet -->
    <link rel="stylesheet" type=text/css href="/css/main.css">
    <link rel="stylesheet" href="/css/photographs.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  </head>

  <body>
    <div class="navbar flex">
      <div class="logo-area">
        <a href="/">M.</a>
      </div>
      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/portfolio">portfolio</a></li>
          <li><a href="/photographs">photographs</a></li>
          <br />
          <li><a href="/about">about</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
      <div class="footer-text">
        <p>&copy2020 by miguel pampolina.</p>
        <a href="https://github.com/mpampolina">github</a> / 
        <a href="https://open.spotify.com/playlist/05jXuUojEIvmq7yS68ZClI">spotify</a>
      </div>
    </div>
