<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type=text/css href="/css/main.css">
    <link rel="stylesheet" href="/css/photographs.css">
    <link rel="stylesheet" href="/css/utilities.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    {% if page.url == "/" %}
    <title>miguel pampolina</title>
    {% else %}
    <title>miguel pampolina - {{ page.title }}</title>
    {% endif %}
    <script src="/scripts/main.js" defer></script>
  </head>

  <body>
    <div class="navbar flex">
      <div class="logo-area">
        <a href="/">M.</a>
      </div>
      <button id="nav-button" class="btn">menu</button>
      <nav id="menu">
        <ul class="flex">
          <li><a href="/">home</a></li>
          <li><a href="/portfolio">portfolio</a></li>
          <li><a href="/photographs">photographs</a></li>
          <br />
          <li><a href="/about">about</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
    </div>
