<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type=text/css href="{{ site.baseurl }}/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <header>
    <div class="logo-area">
      <a href="#">M.</a>
    </div>
    <nav id="nav-primary">
      <ul class="navigation-list">
        <li><a href="#">home</a></li>
        <li><a href="#">photographs</a></li>
        <li><a href="#">portfolio</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </nav>
    </header>
    
    <div class="content">

    {{ content }}

    </div>

    <footer>
      <p>&copy2020 by miguel pampolina.</p>
        <div class="links-ext">
          <a href="https://github.com/mpampolina">github</a> / 
          <a href="https://open.spotify.com/playlist/05jXuUojEIvmq7yS68ZClI">spotify</a>
        </div>
    </footer>
  </body>
</html>